.container {
    margin-top: 5%;
}

/* Cards for viewing all */
#allcards {
    margin: 2%;
    padding:2%;
    justify-content: center;
}

#cardbody {
    justify-content: center;
    text-align: center;
}

.btns {
    margin:2%
}

/* OneFood.JS */
#topPage {
    justify-content: center;
    text-align: center;
}

#cardContainer {
    margin-top:2%;
}
#card {
    margin: 5%;
}
#cardbody {
    justify-content: center;
}
#cardBtn {
    margin: 2%;
}