:root {
    /* --purple:#6666ff; */
    --genieblue:#2A287D;
    /* navbar and footer text */
    --goldentext:#FFD700;
    --goldentexthover:#6A0DAD;
    --teal:#008080; /* footer links */
    --callToActionBtn:#FFD700;
    --secondarybtns:#2A287D;
    --hoveractivebtn:#6A0DAD;
    --disabledbtn:#E0E0E0;
}

/* Navbar styles */
#title {
    color:white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 5%;
}

.navbar {
    height: 20%;
    /* background-color: var(--purple); */
    background-color: var(--genieblue);
}

/* Footer */
.footer {
    position: fixed;
    background-color: var(--genieblue);
    background-size: cover;
    padding: 5% 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer-text {
    text-align: center;
    color:white;
}