.call-to-action-btn {
    background-color: var(--callToActionBtn);
    color: var(--secondarybtns);
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor:pointer;
}

.call-to-action-btn:hover {
    background-color: var(--goldentexthover);
    color:#FFFFFF;
}

.section {
    margin-bottom: 5%;
    padding:2%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#star {
    height: 100px;
    width:100px;
}

